@import './base/vars';
.entry {
	display: flex;
	width: 92%;
	margin: 70px auto;
	text-align: center;
	.media {
		width: 85px;
		height: 85px;
		margin: 0 auto;
		border-radius: 50%;
		img {
			width: 55px;
			margin-top: 15px;
			vertical-align: middle;
		}
	}
	a {
		text-decoration: none;
	}
	p {
		margin: $gutter 0;
		font-size: 1rem;
		color: #fff;
	}
}
.entry__item {
	flex: 1;
}
.is--caution {
	background: $red;
}
.is--primary {
	background: $blue;
}
.is--success {
	background: $green;
}