.lazy-reminder {
	position: absolute;
	top: 0;
	width: 100%;
	height: $gutter/3*4;
	line-height: $gutter/3*4;
	font-size: .85rem;
	color: $red;
	text-align: center;
	background: rgba(255,255,255,.8);
}